body {
    @extend %my-container;
    
    @media(max-width:$desktop-version){
        width: 1024px;
    }
    
      @media(max-width:$tablet-version){
        width: 768px;
    }
   
    
    .index-header {
        @include goFlex(row, space-between, center);
        padding: 20px 50px;
 
        @media(max-width:$desktop-version){
            width: 925px;
        }
        
        
        .tbs-logo{
            width: 100px;
            margin-right: 500px;
            margin-left: -700px; 
            margin-top: -20px;
          }

        ul {
            width: 650px;
            @include goFlex(row, space-evenly, );
            padding: 5px 0;
            padding: 0 0 0 750px;

           

        a{
          font-weight: 400;
          font-size: $secondaryfontsize;
          color: gray;

        }

        .main-color{
            color: purple;
          }
    
        }
    
    }

    main{

        .background2{
            background-image: url(../images/main-image1.png);
            margin-top: 10px;
            background-size: cover;
            background-attachment: fixed;
            height: 1400px;
            position: relative;
            margin-top: -2px;

            @media(max-width:$desktop-version){
                height: 1900px;
            }

            @media (max-width:$tablet-version){
                height: 1800px;
                width: 768px;
            }

            @media(max-width:$mobile-version){
                height: 2500px;
                width: 480px;
            }

           
        }

        .header1{
            display: flex;
            margin-bottom: 20px;
            position: absolute;
            margin-left: 60px;
            margin-top: -1250px;

            @media (max-width:$tablet-version){
                margin-top: -1300px;
            }

            .h2-text{
              letter-spacing: 5px;
              font-weight: 400;
              color: $secondarycolor;
              width: 400px;
              margin-left: 20px;

              @media(max-width:$mobile-version){
                margin-top: -30px;
              }
             
            }

            .bar{
                opacity: 1;
                transform: matrix(1, 0, 0, 1, 0, 0);
                margin-top: 9px;
                width: 800px;
                height: 1px;
                background: hsla(0, 0%, 100%, .3);
                overflow: hidden;
                

                .slider{
                    position: absolute;
                    width: 100px;
                    height: 2px;
                    background: #fff;
                }

           }
        }

        .main-div1{

            @media(max-width:$desktop-version){
                margin-top: -450px
            }
 
            @media (max-width:$tablet-version){
                margin-top: -1100px;
            }

            @media(max-width:$mobile-version){
                margin-top: -1700px;
            }

        .section-wrapper1{
            @include goFlex(row, space-between, );
                margin-left: 80px;
                position: absolute;
                margin-top: -1150px;
                width: 1200px;

                @media(max-width:$desktop-version){
                    width: 600px;
                    gap: 15px;
                    margin-left: 100px;
                }

                @media (max-width:$tablet-version){
                    width: 600px;
                    gap: 15px;

                }

                @media(max-width:$mobile-version){
                    width: 350px;
                    margin-left: 10px;
                    padding-left: 60px;
                    margin-top: -1250px;
                }
                

                .img-holder1{
                    height: 250px;
                    width: 167px;
                   }
        }

        .header{
            display: flex;
            margin-bottom: 20px;
            position: absolute;
            margin-left: 60px;
            margin-top: -600px;

            @media(max-width:$desktop-version){
                padding: 70px 0 ;
            }

            @media(max-width:$tablet-version){
                padding: 70px 0 ;
            }

            

            .h2-text{
              letter-spacing: 5px;
              font-weight: 400;
              color: $secondarycolor;
              width: 400px;
              margin-left: 20px;

              
            @media(max-width:$mobile-version){
                margin-top: 150px
            }
            
             
            }

            .bar{
                opacity: 1;
                transform: matrix(1, 0, 0, 1, 0, 0);
                margin-top: 9px;
                width: 800px;
                height: 1px;
                background: hsla(0, 0%, 100%, .3);
                overflow: hidden;

                .slider{
                    position: absolute;
                    width: 100px;
                    height: 2px;
                    background: #fff;
                }

                }
            }
        }

          .main-div{
            @media (max-width:$tablet-version){
                margin-top: 700px
            }

            .section-wrapper{
                @include goFlex(row, space-between, );
                margin-left: 80px;
                position: absolute;
                margin-top: -500px;
                width: 1200px;

                @media(max-width:$desktop-version){
                    width: 600px;
                    gap: 15px;
                    margin-left: 100px;
                    padding-top: 70px;
                }

                
                @media (max-width:$tablet-version){
                    width: 600px;
                    gap: 15px;
                    padding-top: 70px;
                }

                @media(max-width:$mobile-version){
                    width: 350px;
                    margin-left: 10px;
                    padding-left: 60px;
                    margin-top: -380px;
                    margin-bottom: 50px;
                }


               .img-holder{
                height: 250px;
                width: 167px;
               }

               .name{
                padding: 10px 0 0 20px;
                color: $secondarycolor;
                
               }
            }
        }
            

    .footer1{
        margin-top: -1500px;

        @media (max-width:$tablet-version){
            margin-top: -1200px
        }

        .aboutusfooter{
            height: 400px;
            width: 1500px;
            background-color: black;
            position: relative;
            margin-top: 1400px;
    
            .header-wrapper{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                font-size: 30px;
                padding-top: 50px;
                color: lightblue;
                font-weight: 700;
                
    
            }
            
        
    
        .item-wrapper{
            padding-top: 60px;
            padding-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        
        
    
        .items{
            display: flex;
            flex-direction: column;
            height: 140px;
            flex-wrap: wrap;
            width: 200px;
            margin-left: 80px;
            
    
        .itemholders{
            padding: 5px 0;
            color: blueviolet;
            
        }
        }
    }
        }
    
    
       }
    }
    }

